<h1>About StarStalker.com</h1>
<p>
  StarStalker.com was founded long, long ago and far, far away.
  Its purpose is to invade the personal space of celebrities and
  broadcast their secrets to the general public.
  We hope you enjoy your time here learning about the stars' lives,
  since you're probably lacking in scintillating exploits of your own.
</p>
