<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <header>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/stars">Stars</a>
    </header>

    <%= yield %>

  </body>
</html>
