<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!--Behold, a generic greeting.-->
    <h1>You really are great.  I bet
    <!-- Squid time.  Let's inject that random compliment. -->
        <%= @random_compliment %>
    </h1>



    <!-- A link back to the root -->
    <a href="/">I'm still emotionally vacant. Give me another compliment.</a>
    <p> </p>
    <!-- A link to ruby docs -->
    <a href="http://ruby-doc.org/">I'm ready to soldier on.</a>

  </body>
</html>
