<div class="buttons">
  <a href="#" class="button">Default Button</a>
  <a href="#" class="button success">Success Button</a>
  <a href="#" class="button secondary">Secondary Button</a>
  <a href="#" class="button alert">Alert Button</a>
  <a href="#" class="button info">Info Button</a>
  <a href="#" class="button disabled">Disabled Button</a>
</div>
<div class="body">
  <h1>Article Title</h1>
  <h3>Subtitle</h3>
  <p>Author:</p>
  <p>Date:</p>


  <!-- <p>Find me in app/views/style_guide/index.html.erb</p> -->

  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <form class="comment" action="index.html" method="post">
    Comment:<br/>
    <textarea name='comment' id='comment'></textarea><br />
    <a href="#" class="button tiny">Submit</a>
  </form>
</div>
